# Core Framework
streamlit

# LangChain and AI Dependencies
langchain
langchain-openai
langchain-core
langchain-community
langchain-huggingface
openai
langchain-groq


# Data Handling
pandas
numpy


# Web Scraping
requests
beautifulsoup4


# Utility Libraries
python-dotenv
pillow
plotly
altair



# split text
langchain_text_splitters

# Embeddings
sentence-transformers

# vectordb
faiss-cpu
chromadb
langchain_chroma

# web scraping
beautifulsoup4

# Rest API
fastapi
uvicorn